{% extends 'base.html' %}

{% block content %}

<div class='jumbotron'>
    <h1 class='text-center mt-4 display-4' style='color: #619196;'>About Care Cards</h1>
    <div class='container style=' style='color: #619196;'>
        <p class='text-center mt-4'>During these times of sadness and unrest, I just wanted to do something nice for people.</p>
        <p class='text-center'>Eveveryone loves getting something cute in the mail so I figured why not send the cute thing!</p>
        <p class='text-center'>This is completely free and out of my own pocket but consider donating <a href='/donate/'>here</a> in order to keep this going!</p>
    </div>
</div>
{% endblock %}