{% extends 'base.html' %}

{% load bootstrap %}

{% block content %}
    <div class='jumbotron'>
        <h1 style='color: #619196;' class="display-3 mt-4 text-center">Get a free card in the mail!</h1>
    </div>
    <div class='row justify-content-center'>
        <div class='col-md-8 offset-md-2 mt-4'>
            <form class='lead' style='color: white;' action='' method='POST'>
                {% csrf_token %}
                {{ form|bootstrap_horizontal }}
                <input style='background-color: #DFC7C1;' type='submit' class='btn btn-outline-secondary text-center ml-2' value='Submit'/>
            </form>
        </div>
    </div>

{% endblock %}